@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .title-card {
      @apply text-gray-700 text-xl font-semibold;
    }
  
    .title-page {
      @apply text-2xl font-medium leading-7 mb-6 text-slate-800;
    }
  .transisi{
    @apply transition duration-300;
  }
  .menusm{
    @apply px-4 py-20 flex-col absolute bg-white shadow-xl min-h-screen -right-5 w-8/12 top-0;
  }
  .title{
    @apply text-5xl mb-6 capitalize;
  }
  .title-article{
    @apply text-3xl mb-6 capitalize;
  }
  .text-content{
    @apply text-lg text-slate-800 leading-relaxed;
  }
  .menu-active{
    @apply bg-green-300/30;
    }
    
    .hide {
      @apply -translate-x-full;
    }
    
    .show {
      @apply translate-x-0;
    }
    }